.uartcontrol-button-row .uartcontrol-button-label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.uartcontrol-button-row .uartcontrol-button-label i {
  width: 20px;
}

.uartcontrol-button-row .uartcontrol-button-controls .btn {
  width: 50%;
}

.uartcontrol-settings-row {
  margin-left: 100px;
  margin-bottom: 5px
}

.insert-border {
  border: 3px solid #bbb;
  border-radius: 5px;
  padding: 8px;
  width: 70%;
}

hr.solid {
  border-top: 3px solid #bbb;
  margin: 1.0em auto;
  margin-left: 0;
}

.box {
  float: center;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  clear: both;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.ctrl-panel {
  position: relative;
}

.config-row {
  padding-left: 10px;
}

.btn-test {
  float: left;
  width: 35%;
  margin-right: 5px;
}

.btn-rmv {
  float: right;
}

.add-btn {
  position: absolute;
  margin-top: -30px;
  top: 50%;
  left: 80%;
}

.opt-available {
  color: black;
  background-color: white;
}

.opt-unavailable {
  color: white;
  background-color: #D70000;
}
